<div class="prose flex-col max-w-none flex w-full">

  <p>Dear <%= @subscriber.email %>,</p>
  <h3>Have a new <%= @template.name %> for you !</h3>

  <div class="color: black; font-size: 16px;">
    <%= @template.body %>
  </div>

  <div style="text-align: center; margin-top: 12px;">
    <%= link_to "View More", templates_url, target: "_blank"%>
  </div>
 
</div>